# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Laravel\test-wsl-in-phpstorm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
